* {padding: 0; margin: 0; border: 0;}
*, *:before, *:after {-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
:focus, :active {outline: none;}
a:focus, a:active {outline: none;}
nav, footer, header, aside {display: block;}
html, body {height: 100%; width: 100%; line-height: 1; font-size: 14px; -ms-text-size-adjust: 100%; -moz-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;}
input, textarea, button {font-family: inherit;}
input::-ms-clear {display: none;}
button {cursor: pointer;}
button::-moz-focus-inner {padding: 0; border: 0;}
a, a:visited {text-decoration: none;}
a:hover {text-decoration: none;}
ul li {list-style: none;}
img {vertical-align: top;}
h1, h2, h3, h4, h5, h6 {font-size: inherit; font-weight: inherit;}
/*==========================================================*/
body {
    font-family: Arial, Helvetica, sans-serif;
}
.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.page {
    flex: 1 1 auto;
}
/*==========================================================*/
.fixed__body {
    position: fixed;
    top: 0;
    right: -180px;
    background-color: #000;
    border-radius: 30px 0 0 30px;
    transition: all 0.3s ease 0s;
}
.fixed__body:hover {
    right: 0;
}
.fixed__text a {
    overflow: hidden;
    padding: 15px;
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    word-spacing: 7px;
}
/*==========================================================*/
.header__body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #084063;
}
.header__content {
    padding: 100px 0;
    color: #fff;
    text-transform: uppercase;
    font-size: 60px;
    font-weight: 600;
    text-shadow: 5px 4px 2px rgba(255, 18, 18, 0.7),
    -4px -6px 3px rgba(255,255,255,0.5);
}
.header__content::before {
    content: "the_";
    color: #fff;
    text-transform: uppercase;
    font-size: 60px;
    font-weight: 600;
    text-shadow: 5px 4px 2px rgba(255, 18, 18, 0.7),
    -4px -6px 3px rgba(255,255,255,0.5);
}
.header__content::after {
    content: "_size";
    color: #fff;
    text-transform: uppercase;
    font-size: 60px;
    font-weight: 600;
    text-shadow: 5px 4px 2px rgba(255, 18, 18, 0.7),
    -4px -6px 3px rgba(255,255,255,0.5);
}
@media (max-width: 768px) {
    .header__content {
        padding: 50px 0;
        font-size: 40px;
    }
    .header__content::before {
        font-size: 40px;
    }
    .header__content::after {
        font-size: 40px;
    }
}
@media (max-width: 440px) {
    .header__content {
        padding: 30px 0;
        font-size: 30px;
    }
    .header__content::before {
        font-size: 30px;
    }
    .header__content::after {
        font-size: 30px;
    }
}
/*==========================================================*/
.central__block {
    margin-top: 15px;
}
.central__body {
    display: flex;
    align-items: center;
    justify-content: center;
}
.central__column {
    flex: 0 1 40%;
}
.central__item {
    height: 100%;
}
.central__item__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
    border-radius: 30px;
    transition: all 0.3s ease 0s;
}
.central__item__image img:hover {
    transform: scale(125%);
}
.column__content {
    flex: 0 1 20%;
}
.column__content_text {
    text-align: center;
    color: #FCA919;
    font-size: 50px;
    font-weight: 600;
    letter-spacing: 2px;
    writing-mode: vertical-rl; 
    text-transform: uppercase;
    padding: 90% 30%;
    -webkit-box-shadow: inset 15px 15px 25px 5px #FCA919; 
    box-shadow: inset 15px 15px 25px 5px #FCA919;
}
@media (max-width: 1580px) {
    .column__content_text {
        font-size: 40px;
        letter-spacing: 1px;
    }
}
@media (max-width: 1240px) {
    .column__content_text {
        font-size: 30px;
    }
}
@media (max-width: 1085px) {
    .column__content_text {
        padding: 15% 30%;
    }
}
@media (max-width: 900px) {
    .column__content_text {
        padding: 1% 30%;
    }
}
@media (max-width: 768px) {
    .central__column {
        flex: 1 1 100%;
    }
    .column__content {
        flex: 1 1 100%;
        width:100%;
    }
    .central__body {
        flex-direction: column;
    }
    .column__content_text {
        font-size: 30px;
        writing-mode:horizontal-tb;
        padding: 50px 0;
    }
    .central__item {
        margin-bottom: 10px;
    }
}
/*==========================================================*/
.text__block {
    margin-top: 15px;
}
.text__block__body {
    display: flex;
    align-self: center;
    justify-content: center;
    margin: 0 -10px;
}
.text__block__column {
    padding: 0 10px;
    flex: 0 1 33.333%;
}
.text__block__item {
    overflow: scroll;
    max-height: 300px;
    background-color: #eee;
    border-radius: 20px;
}
.text__block__text {
    padding: 15px;
    font-size: 18px;
    letter-spacing: 1px;
    word-spacing: 3px;
}
@media (max-width: 768px) {
    .text__block__body {
        flex-direction: column;
        margin: 0 0;
    }
    .text__block__column {
        padding: 0 0;
        flex: 1 1 100%;
        margin-bottom: 15px;
    }
    .text__block__item {
        border: 1px solid #000;
    }
}
/*==========================================================*/
.footer {
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: #084063;
}
.footer__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
}
.footer_title {
    text-transform: uppercase;
    color: #fff;
    font-size: 50px;
    font-weight: 600;
}
.footer_menu {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu__item:not(:last-child) {
    margin-right: 15px;
}
.menu__item a {
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    transition: all 0.3s ease 0s;
}
.menu__item a:hover {
    color: rgb(78, 0, 0);
}
.footer__form {
    margin-top: 15px;
}
.form__body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form__title {
    text-transform: uppercase;
    font-style: italic;
    color: #fff;
    font-size: 15px;
}
.form__email {
    margin-top: 10px;
    border-radius: 5px;
    padding: 10px;
    color: #000;
    font-size: 16px;
}
.form__btn {
    margin-top: 10px;
    padding: 10px 20px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
    transition: all 0.3s ease 0s;
}
.form__btn:hover {
    background-color: rgb(185, 185, 185);
}
.footer_by {
    margin-top: 25px;
    color: #fff;
    font-size: 14px;
}